[Unit]
Description=Node Exporter
Wants=network-online.target
After=network-online.target
 
[Service]
User=prometheus
ExecStart={{ pushgateway_install_dir }}/pushgateway
 
[Install]
WantedBy=default.target