port {{ sentinel_port }}
daemonize yes
dir "{{ redis_logs_dir }}"
logfile "sentinel-{{ sentinel_port }}.log"
protected-mode no
sentinel monitor {{ cluster_name }} {{ master_host }} {{ master_port }} 2
sentinel failover-timeout {{ cluster_name }} 18000
sentinel auth-pass {{ cluster_name }} {{ master_password }}